header {
	padding: 0;
	margin: 0 0 5px 0;
	position: relative;
	z-index: 20;
	
	#logo {
		margin: 13px 3% 0 0;
		//color: #002651;
		width: 24%;
		float: left;
		//font-weight: bold;
		//font-size: 26pt;
	}
}